window {
  background-color: #1e1e2e; /* glass dark + semi transparent */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(200, 200, 200, 0.05);
  border-radius: 60px;
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font Mono", "IBM Plex Mono", "Space Mono", monospace;
}

#input {
  font-size: 22px;
  padding: 20px;
  background: transparent;
  border: none;
  color: #cdd6f4;
  text-shadow: 0 0 8px #cdd6f4;
}

#outer-box {
  margin: 50px;
}

#scroll {
  background: transparent;
}

#entry {
  font-size: 20px;
  padding: 18px 30px;
  margin: 8px 0;
  border-radius: 8px;
  color: #cdd6f4;
  text-shadow: 0 0 8px #cdd6f4;
}

#entry:selected {
  background-color: rgba(203, 166, 247, 0.1);
  border: 1px solid rgba(203, 166, 247, 0.3);
  text-shadow: 0 0 12px #cdd6f4;
}

