window {
  /* Fullscreen glass look */
  background: rgba(30, 30, 46, 0.5);
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font Mono", "IBM Plex Mono", "Space Mono", monospace;
}

#input {
  all: unset; /* No search input box */
}

#outer-box {
  margin: 0;
  padding: 0;
}

#scroll {
  background: transparent;
}

#entry {
  font-size: 48px;
  padding: 40px;
  color: #cdd6f4;
  text-shadow: 0 0 10px #cdd6f4;
  border-radius: 12px;
}

#entry:selected {
  background: rgba(203, 166, 247, 0.1);
  border: 1px solid rgba(203, 166, 247, 0.3);
  text-shadow: 0 0 15px #cba6f7;
}

#entry:focus {
  outline: none;
}
