window {
    background-color: rgba(30, 30, 46, 0.85);
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    color: #cdd6f4;
}

#input {
    padding: 10px;
}

#outer-box {
    padding: 20px;
}

#scroll {
    background: transparent;
}

#entry {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry:selected {
    background-color: #cba6f7;
    color: #1e1e2e;
}

#entry image {
    margin-bottom: 10px;
}
