window#waybar {
  background: #1e1e2e; 
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom: 1px solid #cba6f7;
  color: #f2f2f2;
  font-family: "JetBrainsMono Nerd Font Mono", "IBM Plex Mono", "Space Mono", monospace;
  font-size: 15px;
}

#custom-shutdown {
  padding: 6px 12px;
  margin: 0 6px;
  margin-right: 10px;
  border-radius: 6px;
  background: transparent;
  color: #ff0040;  /* hacker red */
  font-size: 20px;
}

#custom-shutdown:hover {
  background: rgba(255, 0, 64, 0.1);
}

/* Shared style for all modules */
#custom-hostname,
#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#tray #custom-bluetooth{
  padding: 6px 12px;
  margin: 0 6px;
  border-radius: 6px;
  background: transparent;
  color: #cdd6f4;
  text-shadow: 0 0 8px #cdd6f4;
}

#custom-bluetooth {
  padding: 6px 12px;
  margin: 0 6px;
  border-radius: 6px;
  color: #cdd6f4;
  text-shadow: 0 0 8px #cdd6f4;
}

#custom-bluetooth.off {
  color: #888;
  text-shadow: none;
}


#battery.warning {
  color: #ffae00;
  text-shadow: 0 0 8px #ffae00;
}
#battery.critical {
  color: #ff0033;
  text-shadow: 0 0 8px #ff0033;
}


#tray > * {
  margin: 0 4px;
}

/* Muted pulseaudio */
#pulseaudio.muted {
  color: #888;
  text-shadow: none;
}

/* === Workspaces === */
#workspaces {
  margin: 0 6px;
}

#workspaces button {
  padding: 4px 10px;
  margin: 0 4px;
  border-radius: 6px;
  background: #313244;
  color: #cdd6f4;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}

#workspaces button.active,
#workspaces button:hover {
  background: #cba6f7;
  color: #1e1e2e;
  text-shadow: none;
}


/* Tooltip theme */
tooltip {
  background: #1e1e2e;
  color: #f2f2f2;
  border: 1px solid #cba6f7;
  border-radius: 4px;
  padding: 4px 6px;
}

#custom-microphone {
  padding: 6px 12px;
  margin: 0 6px;
  border-radius: 6px;
  background: transparent;
  color: #cdd6f4;
  text-shadow: 0 0 8px #cdd6f4;
  font-family: "JetBrainsMono Nerd Font","JetBrains Mono", "IBM Plex Mono", "Space Mono", monospace;
}

#custom-microphone.muted {
  color: #888;
  text-shadow: none;
}

